<html>
<head>
<meta charset="UTF-8">
<title>Entity Centric KB Expansion</title>
<meta name="description" content="Entice">
<meta name="keywords" content="keyword1, keyword2, keyword3">
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1> ENTICE <br/> </h1>
      <h2><p>ENTity CEntric KB Expansion</p></h2>
    </div>

    <div class="navigation">
      <!--<ul>
        <li><a href="https://docs.google.com/forms/d/1f1WpQmRi2irETBJILpVZGsq6B8PMBDYD9TykUIV5WdE/viewform?usp=send_form">Feedback</a></li>
      </ul>-->
    <h4>{{ error }}</h4>
    <form name="back" id="back" method="GET" action="/">
    <button type="back" value="Back" id="back">Back</button>
    </form>
    </div>
  </div>
 </body>
</html> 
