<html>
<head>
<meta charset="UTF-8">
<title>Entity Centric KB Expansion</title>
<meta name="description" content="Entice">
<meta name="keywords" content="keyword1, keyword2, keyword3">
</head>
 <!-- <meta http-equiv="refresh" content="10"> -->

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
       rel="stylesheet">
  <script type=text/javascript>
   function checkEmpty(f) {
          if (f.keyword.value === "") {
              alert('Please enter a valid entity');
              return false;
          }else{
              f.submit();
              return true;
          }
        }
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31119754-1']);
        _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
</script>
<body>
  <div id="wrapper">
    <div id="header">
      <h1> ENTICE <br/> </h1>
      <h2><p>ENTity CEntric KB Expansion</p></h2>
    </div>

    <div class="navigation">
      <!--<ul>
        <li><a href="https://docs.google.com/forms/d/1f1WpQmRi2irETBJILpVZGsq6B8PMBDYD9TykUIV5WdE/viewform?usp=send_form">Feedback</a></li>

        setInterval(                               //Periodically 
  function()
  {
    $.getJSON('/_status_update', {
        entitySearch: $('input[name="fname"]').val()
        }, function(data) {
          $("#result").text(data.result);
        });
        return false;                                      // #result element
  },
  5000);

      </ul>-->
     
      <form name="fnameform" id="fnameform" method="GET" onSubmit="return checkEmpty(this);" action="/page2">
        <p> <h3> Specify Entity Name:</h3>        
        <input type="text" value="" placeholder="e.g. Albert Einstein" name="fname" id="fname" style="width:40%;" id="keyword"/> </p> <br/>
        <p> <h4> Enter supporting words for querying (comma separated)</h4>
        <input type="text" placeholder="e.g. scientist, noble laureate" value="" name="qname" id="qname" style="width:40%;" id="queryword"/></p>
        <br/>
        <input type="submit" value="Submit" id="sub" />
      </form>

    </div>
  </div>
 </body>
</html> 